= simple_form_for(@job, html: { class: "form-horizontal" }) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"}, input_html: {class: "dropdown-toggle"}
  = f.input :title, label: "Заголовок работы", input_html: {class: "form-control"}
  = f.input :description, label: "Описание", input_html: {class: "form-control"}
  = f.input :company, label: "Ваша компания", input_html: {class: "form-control"}
  = f.input :url, label: "Ссылка на работу", input_html: {class: "form-control"}
  %br/
  = f.button :submit
