#jobs
  .job
    %h2= @job.title
    %p= @job.description
    %p= @job.company
    %button.btn.btn-default= link_to "Подтвердить", @job.url

#links
  = link_to "Назад", root_path, class: "btn btn-sm btn-default"
  = link_to "Изменить", edit_job_path(@job), class: "btn btn-sm btn-default"
  = link_to "Удалить", job_path(@job), method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-sm btn-default"
